body {
    font-family: Georgia1, Georgia, serif;
    padding: 0px;
    margin: 0px auto;
    background: url('../img/bg.png');
    color: #4D4D4D;
}

h1 {
    color: white;
    font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
    font-size: 24px;
    background: #68AED4;
    padding: 5px;
    margin: 0px;
    box-shadow: .3px .3px 4px 1px #222;
    -webkit-box-shadow: .3px .3px 4px 1px #222;
}

h3 {
    margin-left: 5px;
    text-decoration: underline;
}

h4 {
    background: white;
    padding: 5px;
}

li {
    list-style: square;
}

p {
    margin-left: 5px;
    font-size: 12px;
}

a {
    color: #4D4D4D;
}

.phone img {
    display: inline;
}

.tig img {
    display: inline;
}

.research a {
    margin-left: 5px;
    color: #4D4D4D;
}

#head {
    text-align: center;
}

#form {
    margin: 30px auto;
    text-align: center;
}

#btn {
    color: white;
    border: 4px solid white;
    height: 35px;
    background: #4d4d4d;
    font-size: 14px;
    font-family: Georgia1, Georgia, serif;
    -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);
}

#feed {
    width: 700px;
    margin: 0px auto;
}

#feed img {
    background: white;
    padding: 5px;
    display: inline;
}

#ret {
    float: right;
}

#query {
    font-family: Georgia1, Georgia, serif;
    font-size: 12px;
    border: 3px solid #4d4d4d;
    border-radius: 0px;
    height: 35px;
}

#home{
    margin: 0px auto;
    width: 70px;
    text-align: center;
    padding: 5px;
    background: #4D4D4D;
}

#home a {
    color: white;
    font-size: 20px;
}

#par {
    padding: 10px;
    margin: 10px auto;
    background: white;
    width: 700px;
    font-size: 14px;
}

#cpsForm {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    font-size: 18px;
}

#sub {
    font-family: Georgia1, Georgia, serif;
    font-size: 18px;
    height: 35px;
    color: white;
    background: #4d4d4d;
    width: 150px;
    margin: 0px auto;
    display: block;
    border: 4px solid white;
    -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);
}

#cps {
    width: 500px;
    background: white;
    margin: 20px auto;
    padding: 10px;
}

#zip {
    border-radius: 0px;
    height: 35px;
    font-family: Georgia1, Georgia, serif;
    font-size: 12px;
    border: 3px solid #4d4d4d;
}
